body {
  background-color: darkslategray;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-top: 65px;
}

p {
  color: aqua;
}

h2 {
    color: yellow;
}